body {
  background-color: #D2B48C;
}

.fun {
  display: flex;
  justify-content: center;
  margin-right: auto;
  color: #4B4747;
  font-size: 50px;
  font-family: Cursive;
}

.lead {
  margin: auto;
  color: #4B4747;
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-family: Helvetica;
}

.lead1 {
  color: #4B4747;
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-family: Helvetica;
}

.nav-link {
  color: #4B4747;
  text-shadow: 10px 10px 10px #fff;
  margin-left: auto;
  font-size: 15px;
}

#img1 {
  margin: auto;
  width: 150px;
  height: 150px;
}

.fa-facebook {
  background: #3B5998;
  color: #fff;
  height: 25px;
  width: 25px;
}

.fa-twitter {
  background: #55ACEE;
  color: #fff;
  height: 25px;
  width: 25px;
}

.fa-soundcloud {
  background: #EC612F;
  color: #fff;
  height: 25px;
  width: 25px;
}

.imgs1 {
  margin: auto;
  height: 450px;
  width: 400px;
}

.imgs2 {
  margin: auto;
  height: 450px;
  width: auto;
}

.imgs3 {
  margin: auto;
  height: 450px;
  width: auto;
}

.vid1 {
  height: 315px;
  width: 450px;
}

@media (min-width: 476px) and (max-width: 775px) {
  body {
    background-color: #D2B48C;
  }
  .fun {
    display: flex;
    justify-content: center;
    margin: auto;
    color: #4B4747;
    font-size: 30px;
    font-family: Cursive;
  }
  .lead {
    margin: auto;
    color: #4B4747;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Helvetica;
  }
  .lead1 {
    color: #4B4747;
    display: flex;
    justify-content: center;
  }
  .nav-link {
    color: #4B4747;
    text-shadow: 10px 10px 10px #fff;
    margin-left: auto;
    font-size: 15px;
  }
  #img1 {
    margin: auto;
    width: 125px;
    height: 125px;
  }
  .fa-facebook {
    background: #3B5998;
    color: #fff;
    height: 25px;
    width: 25px;
  }
  .fa-twitter {
    background: #55ACEE;
    color: #fff;
    height: 25px;
    width: 25px;
  }
  .fa-soundcloud {
    background: #EC612F;
    color: #fff;
    height: 25px;
    width: 25px;
  }
  .imgs1 {
    margin: auto;
    height: 350px;
    width: 350px;
  }
  .imgs2 {
    margin: auto;
    height: 350px;
    width: auto;
  }
  .imgs3 {
    margin: auto;
    height: 350px;
    width: auto;
  }
  .vid1 {
    height: 315px;
    width: 450px;
  }
}

@media (min-width: 300px) and (max-width: 475px) {
  body {
    background-color: #D2B48C;
  }
  .fun {
    display: flex;
    justify-content: center;
    margin: auto;
    color: #4B4747;
    font-size: 20px;
    font-family: Cursive;
  }
  .lead {
    margin: auto;
    color: #4B4747;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Helvetica;
  }
  .lead1 {
    color: #4B4747;
    display: flex;
    justify-content: center;
  }
  .nav-link {
    color: #4B4747;
    text-shadow: 10px 10px 10px #fff;
    margin-left: auto;
    font-size: 15px;
  }
  #img1 {
    margin: auto;
    width: 80px;
    height: 80px;
  }
  .fa-facebook {
    background: #3B5998;
    color: #fff;
    height: 25px;
    width: 25px;
  }
  .fa-twitter {
    background: #55ACEE;
    color: #fff;
    height: 25px;
    width: 25px;
  }
  .fa-soundcloud {
    background: #EC612F;
    color: #fff;
    height: 25px;
    width: 25px;
  }
  .imgs1 {
    margin: auto;
    height: 250px;
    width: 250px;
  }
  .imgs2 {
    margin: auto;
    height: 250px;
    width: auto;
  }
  .imgs3 {
    margin: auto;
    height: 250px;
    width: auto;
  }
  .vid1 {
    height: 250px;
    width: auto;
  }
}
